# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compiled Object files
*.slo
*.lo
*.o
*.ko

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Text editor:
*~
*.swp
*.swap
*.tmp
*.temp
*.in

# Java
*.class
.classpath
.settings/
*.zip

# Sbt
lib_managed/
project/
bin/
target/
submission/

# Text file
*.txt
