<footer class="footer">
  <small>
    <%= link_to "Mars Team", about_path %>
    Deng Xiaohui, Fan Junliang, Huang Qiushuo, Huang Shixun,
    <%= link_to "Huang Xin", "https://github.com/leon-huang" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>