<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The name of our team is `Mars', which means
  "Roman god of war and agriculture".
</p>
<p>
  The members are:
  Deng Xiaohui,
  Fan Junliang,
  Huang Qiushuo,
  Huang Shixun,
  <%= link_to "Huang Xin", "https://github.com/leon-huang" %>.
  All of us are undergraduates in
  <%= link_to "SWI, NJU", "http://software.nju.edu.cn/" %>.
</p>